html,
body {
	background-color: #a6d4fb;
}

form {
	small {
		color: #bc3635;
		white-space: pre;
	}
}

.autocomplete {
	display: block !important;
	height: 2.75rem !important;

	.autocomplete-list {
		height: calc(8 * (1rem + 10px) + 15px) !important;
		padding: 0 !important;

		&-item {
			padding-top: 0.75rem !important;
			padding-bottom: 0.75rem !important;
		}
	}

	.input-container {
		height: 100% !important;
	}

	&-input {
		padding: 0.5rem 0.75rem !important;
	}
}

.selectContainer {
	--borderRadius: 0;
	--listBorderRadius: 0;
	--itemFirstBorderRadius: 0;
	--border: #{$border-width} solid #{$gray-400};
	--borderFocusColor: #{$gray-400};
	--padding: 0.5rem 0.75rem;
	--clearSelectTop: 0;
	--clearSelectBottom: 0;
	--height: 2.75rem;
	--itemIsActiveBG: #{$primary};

	&.focused {
		box-shadow: 0 0 0 0.25rem rgb(6 61 131 / 25%);
	}
	// border: unset !important;
	// --internalPadding: 0 16px;
	// border: var(--border, 1px solid #d8dbdf);
	// border-radius: var(--borderRadius, 3px);
	// box-sizing: border-box;
	// height: var(--height, 42px);
	// position: relative;
	// display: flex;
	// align-items: center;
	// padding: var(--padding, var(--internalPadding));
	// background: var(--background, #fff);
	// margin: var(--margin, 0);
}
