html,
body {
	background-color: #dfe5e7;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.autocomplete {
	display: block !important;
	height: 2.75rem !important;

	.autocomplete-list {
		height: calc(8 * (1rem + 10px) + 15px) !important;
		padding: 0 !important;

		&-item {
			padding-top: 0.75rem !important;
			padding-bottom: 0.75rem !important;
		}
	}

	.input-container {
		height: 100% !important;
	}

	&-input {
		padding: 0.5rem 0.75rem !important;
	}
}

.selectContainer {
	--borderRadius: 0;
	--listBorderRadius: 0;
	--itemFirstBorderRadius: 0;
	--border: none;
	--borderFocusColor: none;
	--padding: 0;
	--clearSelectTop: 0;
	--clearSelectBottom: 0;
	--height: 2.75rem;
	--itemIsActiveBG: transparent;
}

#kraj_prejemnika {
	@extend .form-control;
	height: auto;
	position: initial;

	&:active {
		border: none;
	}
}

.qr-code-image {
	width: 100%;
	height: auto;
	object-fit: contain;
}
