html,
body {
	background-color: #dfe5e7;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.autocomplete {
	display: block !important;
	height: 50px !important;

	@include media-breakpoint-down(sm) {
		height: 44px;
	}

	.autocomplete-list {
		height: calc(8 * (1rem + 10px) + 15px) !important;
		padding: 0 !important;

		&-item {
			padding-top: 0.75rem !important;
			padding-bottom: 0.75rem !important;

			&.selected {
				background-color: $input-border-color !important;
			}

			&.confirmed {
				background-color: $input-border-color !important;
			}
		}
	}

	.input-container {
		height: 100% !important;
	}

	&-input#kraj_prejemnika {
		// padding: 0.5rem 0.75rem;
		@extend .form-control;
	}
}

.qr-code-image {
	width: 100%;
	height: auto;
	object-fit: contain;
}
